header {
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.active {
  border-bottom: 2px solid black;
  color: aqua;
  background-color: blue;
}
